<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventsInfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>633A9FB2215EC4260062725A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633A9FC6215EC4290062725A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633A9FD1215EC4290062725A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
